.sound {
   margin-bottom: 6px;
   padding: 10px;
   font-weight: bold;
   border-bottom: 1px solid grey;
   display: flex;
   flex-direction: column;
}

.author {
   font-size: 13px;
   font-weight: normal;
}
