.sound-component {
  margin-bottom: 6px;
  padding: 10px;
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
}

.sound-component .action-container {
  margin-right: 14px;
  color: #008000;
  font-size: 24px;
  cursor: pointer;
}

.sound-component .action-container .stop {
  color: #c60000;
}

.sound-component .name-description-container {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.sound-component .name-description-container .description {
  font-size: 13px;
  font-weight: normal;
}
.sound-component .row-end {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.sound-component .source-icon {
  font-size: 22px;
}

.sound-component .remove-button-container {
  display: none;
  margin-right: 20px;
}
.sound-component:hover .remove-button-container {
  display: block;
}
