.sound-component {
  margin-bottom: 6px;
  padding: 10px;
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
}

.sound-component .action-container {
  margin-right: 14px;
  color: #008000;
  font-size: 24px;
  cursor: pointer;
}

.sound-component .action-container .stop {
  color: #c60000;
}

.sound-component .name-author-container {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.sound-component .name-author-container .author {
  font-size: 13px;
  font-weight: normal;
}

.sound-component .source-icon {
  margin-left: auto;
  font-size: 22px;
}
