.top-bar-component {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   width: 100%;
   margin-right: 4px;
   -webkit-app-region: drag;
}

.top-bar-component button {
   color: white;
   font-size: 17px;
   background-color: transparent;
   border: none;
   display: flex;
   align-items: center;
   cursor: pointer;
   -webkit-app-region: no-drag;
   margin: 2px 0 2px 2px;
}

.top-bar-component button:hover {
   background-color: #ffffff1c;
}
